# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/
docs/_build/

# IDE/Editor specific
.idea/
.vscode/
*.swp
*.swo

# Test
test_*.txt

#Images on the disk
*.tiff
*.tif
*.jpg
*.jpeg
